
<div class="">
    <form class="form" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
      <div class="form-title"><span>sign up to your</span></div>
       <div class="title-2"><span>SPACE</span></div>
       <p style="color: red; font-size: 14px;">{{authError}}</p>
       <div class="input-container">
        <p><span *ngIf="name.invalid && name.touched" style="color: red;">Vui lòng nhập Name</span></p>
        <input class="input-pwd" type="text" placeholder="Enter Your Name" ngModel name="name" #name="ngModel" required   />
      </div>
       <div class="input-container">
        <p><span *ngIf="email.invalid && email.touched" style="color: red;">Vui lòng nhập Email</span></p>
        <input class="input-mail" type="email" placeholder="Enter email" ngModel name="email" #email="ngModel" required  />

       </div>

       <section class="bg-stars">
         <span class="star"></span>
         <span class="star"></span>
         <span class="star"></span>
         <span class="star"></span>
       </section>


       <div class="input-container">
        <p><span *ngIf="password.invalid && password.touched" style="color: red;">Vui lòng nhập Password</span></p>
        <input class="input-pwd" type="password" placeholder="Enter password" ngModel name="password" #password="ngModel" required minlength="2" maxlength="15" >
      </div>
      <div class="input-container">
        <p><span *ngIf="password.invalid && password.touched" style="color: red;">Vui lòng nhập Password</span></p>
        <input class="input-pwd" type="password" placeholder="Repeat your password" ngModel name="repPassword" #password="ngModel" required minlength="2" maxlength="15" >
      </div>
       <button [disabled]="sellerSignUp.invalid" class="submit">
         <span class="sign-text">Sign Up</span>
       </button>

       <p class="signup-link" >
        Already have an account
         <a routerLink="../signin"> Signin</a>
       </p>

    </form>
  </div>

