<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header">
                        <h4 class="card-title">Danh sách giỏ hàng</h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table">
                            <thead>
                                <th class="id">ID</th>
                                <th>NAME USER</th>
                                <th>NAME</th>
                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th>ACTIVE</th>
                            </thead>
                            <tbody *ngFor="let cart of carts; let i = index">
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{cart.userName}}</td>
                                    <td>{{cart.name}}</td>
                                    <td>{{cart.price}}</td>
                                    <td>{{cart.quantity}}</td>
                                    <td >
                                        <button (click)="onDelete(cart.id)" class="btn btn-warning mx-2"><i
                                                class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>